.page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.title {
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

.leftGradient, .rightGradient {
	width: 10%;
	height: 100%;
	position: absolute;
}

.leftGradient {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.rightGradient {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.aboutBackground {
	background-color: var(--background-color);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.carouselContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 70em;
	height: min-content;
}

.carouselItem {
	display: flex;
	flex-direction: row;
	color: white;
	min-width: 90%;
	margin: 2em 10em;
	transition: 0.5s ease-in-out;
	border-radius: 20px;
	box-shadow: 1px 2px 3px 4px hsla(0, 0%, 8%, .4);
}

.carouselItem:first-child {
	margin-left: 6em !important;
}

.memberImage {
	max-width: 20em;
	max-height: 25em;
	align-self: center;
	margin-left: 20px;
}

.carouselText {
	min-width: 59%;
	text-align: center;
	padding: 10px;
}

.memberBioWrapper {
	margin-top: 1em;
	margin-bottom: 5em;
	margin-right: 1em;
}

.memberBio {
	text-align: left;
	padding: 5px;
	margin-bottom: 0;
}

.memberBioWrapper:before {
	content: "";
	width: 100%;
	height: 80px;
	position: fixed;
	left: 31%;
	bottom: 0;
	/* background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, var(--background-color) 100%); */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.navigationButton {
	margin: 0 1em;
}

#leftArrow, #rightArrow {
	position: absolute;
	z-index: 10;
}

#leftArrow {
	left: 15%;
}

#rightArrow {
	right: 15%;
}

.track-vertical {
	top: 2px;
	bottom: 2px;
	right: 0px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.111);
}
.thumb-vertical {
	position: relative;
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: inherit;
	background-color: var(--accent);
}

@media (max-width: 1155px) {
	.carouselContainer {
		width: 50em;
		align-items: flex-start;
	}

	#leftArrow, #rightArrow {
		margin-bottom: 2em;
	}

	.carouselText {
		min-width: 55%;
	}
}

@media (max-width: 1010px) {
	.title {
		margin-bottom: -1em;
	}

	.carouselContainer {
		width: 40em;
		position: relative;
	}

	.carouselItem {
		margin: 2em 0;
	}


	.memberImage {
		max-width: 15em;
		margin: 4em 1em 1em 1em;
	}

	.memberBio {
		padding: 1px;
	}

	.memberName, .memberRole {
		position: absolute;
		top: 0;
		left: 3%;
	}

	.memberRole {
		left: 42%;
		top: 2%;
	}

	.carouselText {
		margin-top: 4em;
	}

	#leftArrow, #rightArrow {
		margin-bottom: 1em;
	}
}

@media (max-width: 840px) {
	#leftArrow, #rightArrow {
		margin: 2px;
	}
}

@media (max-width: 720px) {
	#leftArrow, #rightArrow {
		position: absolute;
		top: 11%;
	}

	#leftArrow {
		left: 25%;
	}
	#rightArrow {
		right: 25%
	}
}

@media (max-width: 650px) {
	.carouselContainer {
		width: 28em;
	}

	.carouselItem {
		flex-direction: column;
		margin: 2em 0;
	}

	.memberName, .memberRole {
		position: relative;
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
	}

	.memberRole {
		margin-bottom: 1em;
	}

	.carouselText {
		margin-top: 0;
	}

	#leftArrow, #rightArrow {
		position: relative;
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
	}

	#leftArrow {
		margin-right: 0.25em;
	}

	#rightArrow {
		margin-left: 0.25em;
	}
}

@media (max-width: 540px) {
	#leftArrow, #rightArrow {
		position: absolute;
		top: 10%;
		bottom: inherit;
		right: 0;
		left: inherit;
	}
	#leftArrow {
		left: 20%;
	}
	#rightArrow {
		right: 20%
	}
}

@media (max-width: 470px) {
	.carouselContainer {
		width: 100%;
	}
	.carouselItem {
		margin-top: 3.5em;
		border-radius: 0;
	}
}

@media (max-width: 375px) {
	#leftArrow {
		left: 15%;
	}
	#rightArrow {
		right: 15%
	}
}