.page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.title {
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

.leftGradient, .rightGradient {
	width: 10%;
	height: 100%;
	position: absolute;
}

.leftGradient {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.rightGradient {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.aboutBackground {
	background-color: var(--background-color);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.carouselContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 70em;
	height: min-content;
}

.carouselItem {
	display: flex;
	flex-direction: row;
	color: white;
	min-width: 90%;
	margin: 2em 10em;
	transition: 0.5s ease-in-out;
	border-radius: 20px;
	box-shadow: 1px 2px 3px 4px hsla(0, 0%, 8%, .4);
}

.carouselItem:first-child {
	margin-left: 6em !important;
}

.memberImage {
	max-width: 20em;
	max-height: 25em;
	align-self: center;
	margin-left: 20px;
}

.carouselText {
	min-width: 59%;
	text-align: center;
	padding: 10px;
}

.memberBioWrapper {
	margin-top: 1em;
	margin-bottom: 5em;
	margin-right: 1em;
}

.memberBio {
	text-align: left;
	padding: 5px;
	margin-bottom: 0;
}

.memberBioWrapper:before {
	content: "";
	width: 58%;
	height: 80px;
	position: fixed;
	left: 35%;
	bottom: 0%;
	/* background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, var(--background-color) 100%); */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}

.navigationButton {
	margin: 0 1em;
}

#leftArrow, #rightArrow {
	position: absolute;
	z-index: 10;
}

#leftArrow {
	left: 15%;
}

#rightArrow {
	right: 15%;
}

.track-vertical {
	top: 2px;
	bottom: 2px;
	right: 0px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.111);
}
.thumb-vertical {
	position: relative;
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: inherit;
	background-color: var(--accent);
}

@media (max-width: 1850px) {
	#leftArrow {
		left: 10%;
	}
	
	#rightArrow {
		right: 10%;
	}
}

@media (max-width: 1650px) {
	#leftArrow {
		left: 5%;
	}
	
	#rightArrow {
		right: 5%;
	}
}

@media (max-width: 1450px) {
	#leftArrow {
		left: 0%;
	}
	
	#rightArrow {
		right: 0%;
	}
}

@media (max-width: 1155px) {
	.carouselContainer {
		width: 60em;
		align-items: flex-start;
	}

	.carouselItem:first-child {
		margin-left: 3em !important;
	}

	.carouselItem {
		margin-right: 7em !important;
	}

	.carouselText {
		min-width: 55%;
	}

	.memberBioWrapper:before {
		width: 54.5%;
		left: 40%
	}
}

@media (max-width: 1010px) {
	.title {
		margin-bottom: -1em;
	}

	.leftGradient {
		left: -20%;
	}

	.rightGradient {
		right: -20%;
	}

	.carouselContainer {
		width: 45em;
		position: relative;
	}

	.carouselItem {
		margin: 2em 6em;
	}

	.memberImage {
		max-width: 15em;
		margin: 4em 1em 1em 1em;
	}

	.memberBio {
		padding: 1px;
	}

	.memberName, .memberRole {
		position: absolute;
		top: 0;
		left: 3%;
	}

	.memberRole {
		left: 42%;
		top: 2%;
	}

	.carouselText {
		margin-top: 4em;
	}

	.memberBioWrapper:before {
		width: 57%;
		left: 40.5%
	}

	#leftArrow, #rightArrow {
		margin-bottom: 1em;
	}
}

@media (max-width: 840px) {
	.leftGradient {
		left: -25%;
	}

	.rightGradient {
		right: -25%;

	}
	
	.carouselContainer {
		width: 35em;
	}

	.carouselItem:first-child {
		margin-left: 2em !important;
	}

	.carouselItem {
		flex-direction: column;
		margin: 2em 3em;
	}

	.memberName, .memberRole {
		position: relative;
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
	}

	.memberRole {
		margin-bottom: 1em;
	}

	.carouselText {
		margin-top: 0;
	}
	
	.memberBioWrapper {
		min-width: unset;
		width: 94%;
	}

	.memberBioWrapper:before {
		width: 96.5%;
		left: 0%
	}

	#leftArrow, #rightArrow {
		position: relative;
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
	}

	#leftArrow {
		margin-right: 0.25em;
	}

	#rightArrow {
		margin-left: 0.25em;
	}
}

@media (max-width: 700px) {
	#leftArrow, #rightArrow {
		position: absolute;
		top: 10%;
		bottom: inherit;
		right: 0;
		left: inherit;
	}
	#leftArrow {
		left: 20%;
	}
	#rightArrow {
		right: 20%
	}
	.leftGradient {
		left: -11%;
	}
	.rightGradient {
		right: -11%;
	}
}

@media (max-width: 530px) {
	.carouselContainer {
		width: 25em;
	}

	.carouselItem:first-child {
		margin-left: 0em !important
	}

	.carouselItem {
		min-width: 100%;
		margin: 3em 1em;
		border-radius: 0;
	}

	.memberBioWrapper {
		margin: 0.5em;
		width: 90%;
	}

	#leftArrow {
		left: 10%;
	}
	#rightArrow {
		right: 10%
	}
	.leftGradient, .rightGradient {
		display: none;
	}
}

@media (max-width: 435px) {
	.carouselContainer {
		width: 20rem;
	}

	.carouselItem {
		min-width: 100%;
		margin: 3em 3.25em !important;
		border-radius: 0;
	}
	#leftArrow, #rightArrow {
		top: 3%;
	}
	#leftArrow {
		left: 6%;
	}
	#rightArrow {
		right: 5%
	}
}

@media (max-width: 320px) {
	.carouselContainer {
		width: 18em;
	}
	.carouselItem {
		min-width: 100%;
		margin: 3em 2.9em !important;
		border-radius: 0;
	}
}