.homePage {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	overflow-x: hidden;
	gap: 20px;
}

#heroImage {
	border-radius: 5px;
	width: 100%;
	overflow-x: hidden;
	height: fit-content;
	overflow-y: hidden;
}

#nameBackground {
	position: absolute;
	top: 80%;
	background: white;
	opacity: 0.85;
	height: 8em;
	width: 100%;
}

#bandName {
	position: absolute;
	top: 80%;
}


@media (max-width: 920px) {
	.homePage {
		flex-direction: column;
		align-items: center;
	}

	#nameBackground {
		position: relative;
		top: unset;
		gap: 0;
	}

	#bandName {
		position: relative;
		margin-top: -145px;
		max-width: fit-content;
	}
}

@media (max-width: 730px) {
	#bandName {
		max-width: 80vw;
	}
}

@media (max-width: 575px) {
	#bandName {
		margin-top: -125px;
	}

	#nameBackground {
		height: 7em;
	}
}