.page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title {
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

.carouselContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 60em;
}

.carouselItem {
	display: flex;
	flex-direction: row;
	background-color: var(--background-color);
	color: white;
	min-width: 100%;
	margin: 5em 0;
	transition: 0.5s ease-in-out;
	border-radius: 20px;
}

.memberImage {
	max-width: 20em;
	max-height: 25em;
	align-self: center;
	margin-left: 20px;
}

.carouselText {
	min-width: 59%;
	text-align: center;
	padding: 10px;
}

.memberBio {
	text-align: left;
	padding: 5px;
	margin-bottom: 0;
}

.navigationButton {
	margin: 0 1em;
}

#leftArrow {
	float: left;
}

#rightArrow {
	float: right;
}