.contactPage {
	background-color: whitesmoke;
}

#contactForm {
	width: 25em;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 450px) {
	#contactForm {
		margin-top: 2.5em;
	}
}