.title {
	flex-grow: 1;
}

#latestVideosSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.loadingMessage {
	text-align: center;
}

.loadingSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-bottom: 20px;
}