#videosPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 10% 0 10%;
	background-color: whitesmoke;
	border: 2px solid var(--accent);
}

.title {
	flex-grow: 1;
}

#latestVideosSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}