:root {
	--background-color: #182128;
	--accent: #df2727;
	--primary: #737475;
	--secondary: #1b73f1;
	--tertiary: #8c9494;
}

body {
	background-color: var(--background-color);
}

/* Animations */
@keyframes hoverFade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	25% {
		background-color: white;
		transform: scale(1.2);
	}
	100% {
		opacity: 0.2;
		transform: scale(1);
		background-color: white;
	}
}

@keyframes riseAndFadeIn {
	0% {
		opacity: 0;
		transform: translateY(5em);
	}
	75% {
		transform: translateY(-1em);
	}
	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}