.gigCard {
	display: flex;
	flex-direction: row;
}

.dateWrapper {
	display: flex;
	gap: 5px
}

.date0, .date1, .date2 {
	font-weight: bold;
}

.date1 {
	color: var(--accent);
}

.secondBlock {
	max-width: 30em;
}